<div class="cardflip drawing__side-game-match-card">
                <div class="cardflip__front drawing__side-game-match-card-front drawing__side-game-match-completed-numbers">
                    <div class="background-number">0{{index}}</div>
                    <div class="completed">COMPLETED<div class="checkmark"></div>
</div>
                    <div class="did-not-play">DID NOT PLAY</div>
                    <ul class="drawing__side-game-match-card-numbers">
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
<li><div class="drawing__side-game-match-card-numbers-ball">X</div></li>
                    </ul>
</div>
                <div class="cardflip__back drawing__side-game-match-card-back drawing__side-game-match-matched">
                    <div class="colored-top">
                        <div class="background-number">0{{index}}</div>
                        <div class="matched">MATCHED: 0</div>
                    </div>
                    <div class="winnings-message">
                        <p class="did-not-play">DID NOT PLAY</p>
                    </div>
                </div>
            </div>