<div class="lock-down-message-container lock-down-message-container--unrecognized">
	<div class="lock-down-message-container-text">
		<h2>Welcome to PCHkeno!</h2>
		<h3>Please sign in or register to play!</h3>
		<div class="live-drawing__lockdown-options-container">
			<div class="stay-tuned">
				<h4>Stay Tuned for the Live Drawing!</h4>
				<div class="live-drawing__lockdown_countdown-clock-container">
				</div>
			</div>
			<div class="or"><div class="top-line"></div>OR<div class="bottom-line"></div></div>
			<div class="keep-playing">
				<p class="lockdown-unrecognized">
					<a href="{{ loginURL }}" class="live-drawing__play-keno-button live-drawing__play-keno-button--lockdown live-drawing__play-keno-button--unrecognized flex-center">SIGN IN</a>
				</p>
				<p class="lockdown-unrecognized">
					<a href="{{ registerURL }}" class="live-drawing__play-keno-button live-drawing__play-keno-button--lockdown live-drawing__play-keno-button--unrecognized flex-center">REGISTER</a>
				</p>
			</div>
		</div>
	</div>
	<div id="div-gpt-ad-keno-mobile-message" class="mobile-gtp-ad"></div>
	<div class="keno-card-lockdown-graphic"></div>
</div>