<div class="modal instant-win-time-up-modal" tabindex="-1" role="dialog" id="instant-win-time-up-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            
            <div class="modal-body">
                <h4>There’s not enough time
                to complete an Instant
                Win Game!</h4>
                <div class="time-up-arrow"></div>
                <p>You will be brought to
                the Live Drawing page in moments!</p>
                
            </div>
        </div>
    </div>
</div>