<div class="modal fade mobile-dark-modal{% block modalClass %}{% endblock %}" tabindex="-1" role="dialog" data-backdrop="false">


		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<h3>What Are You Waiting For?</h3>
					<p>Please sign in or register to play!</p>
					<div class="buttons">
						<a href="{{loginURL}}" class="red-button">SIGN IN</a>
						<a href="{{registerURL}}" class="red-button">REGISTER</a>
					</div>
					
				</div>
			</div>
		</div>
	
</div>