.platform-icon {
	display: inline-block;
	background-repeat: no-repeat;
}

.platform-icon--desktop {
	width: 17px;
	height: 15px;
	background-image: resolve("images/sprites/icons/desktop-icon@2x.png");
	background-size: 17px 15px;
}

.platform-icon--app {
	width: 14px;
	height: 17px;
	background-image: resolve("images/sprites/icons/app-icon@2x.png");
	background-size: 14px 17px;
}

.platform-icon--mobile {
	width: 10px;
	height: 17px;
	background-image: resolve("images/sprites/icons/mobile-icon@2x.png");
	background-size: 10px 17px;
}
