.sso-create-password-lightbox-modal {
	.modal-content {
		text-align: center;
		background: rgba(1, 1, 1, 1);
		color: rgba(255, 255, 255, 1);
		background: linear-gradient(
			to bottom,
			rgba(1, 1, 1, 1) 0%,
			rgba(60, 60, 60, 1) 100%
		);

		.modal-body-text {
			display: none;
		}

		.modal-body {
			.tokens {
				p {
					display: inline-block;
					font-weight: bold;
					font-size: 34px;
				}
			}
		}

		p {
			font-size: 25px;
			font-weight: 300;
			margin-left: 10px;
		}

		.tokens {
			color: rgba(245, 190, 65, 1);
			font-weight: bold;
		}

		p.create-password {
			font-size: 17px;
		}

		input.create-password-box {
			font-size: 20px;
			margin: 10px 15px;
			padding: 5px;
			font-weight: 300;
			color: rgba(153, 153, 153, 1);
		}
		input.create-password-box.invalid {
			border: 2px solid rgb(255, 12, 12);
		}

		a {
			color: rgba(153, 153, 153, 1);
			text-decoration: underline;
			font-size: 13px;
			display: block;
		}
	}

	div.sso-outer-shell {
		border: 1px solid rgb(255, 12, 12);
		background-color: rgb(255, 255, 255);
		border-radius: 3px;
		font: normal 12px/1.1em Arial, sans-serif;
		width: 220px;
		position: absolute;
		z-index: 1111111;
		opacity: 0;
		top: 0;
		left: 101%;
		display: block;
	}

	html.sso-lightbox div.sso-outer-shell {
		position: fixed;
	}

	div.sso-outer-shell div.header {
		background-color: rgb(255, 12, 12);
		color: rgb(255, 255, 255);
		font-size: 1.1em;
		text-transform: uppercase;
		padding: 7px 8px 5px 8px;
		font-weight: bold;
		position: relative;
		letter-spacing: 0.02em;
		line-height: 1.2em;
	}

	div.sso-outer-shell div.header div.arrow {
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-right: 8px solid rgb(255, 12, 12);
		position: absolute;
		left: -9px;
		top: 6px;
	}

	div.sso-outer-shell div.inner-shell {
		background-color: rgb(255, 255, 255);
		color: rgb(99, 99, 99);
		font-size: 1.2em;
		padding: 4px 8px 6px 8px;
		line-height: 1.2em;
	}

	div.sso-outer-shell div.inner-shell div.address {
		color: rgb(66, 73, 225);
		text-decoration: underline;
		padding: 3px 0 5px 0;
		cursor: pointer;
	}

	div.sso-outer-shell div.inner-shell div.error {
		padding: 3px 0 6px 0;
	}
}
