.sweeps-banner-showing .vip-message--mode-pop-over {
	top: 191px;
}

.entry-banner-showing .vip-message--mode-pop-over {
	top: 261px;
}

.page--with-evergage-banner .vip-message--mode-pop-over {
	top: 191px;
}
