.mobile-gtp-ad {
	margin: 0 auto;
	width: 300px;
}

#div-gpt-ad-keno-mobile-message {
	margin: 0 auto;
	padding: 20px 0;
}

#div-gpt-ad-keno-mobile-bonus {
	margin: 10px auto;
}

#div-gpt-ad-keno-mobile-choices {
	margin-bottom: 7px;
}
